# Facebook Graph API Credentials
# Get these from: https://developers.facebook.com/apps/

# 1. Create a Facebook App at https://developers.facebook.com/apps/
# 2. Add "Marketing API" and "Pages API" products
# 3. Get your credentials from App Dashboard

FACEBOOK_APP_ID=your_app_id_here
FACEBOOK_APP_SECRET=your_app_secret_here
FACEBOOK_ACCESS_TOKEN=your_page_access_token_here
FACEBOOK_PAGE_ID=your_facebook_page_id_here
